@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* width: 100%; */
  /* box-shadow: 20px 20px black; */
}

.calculator {
  font-family: 'Lato', sans-serif;
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
  box-shadow: 5px 5px 8px grey;
}

#symbol {
  color: gray;
}